.register-container {
    padding: 20px;
}

.register-form-container {
    margin: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.error-mess {
    color: red;
    font-size: 0.875em;
}

.logo {
    margin-left: 50px;
}

.topright {
    margin-right: 50px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}


header a, header router-link {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.content .text {
    flex: 1;
    text-align: left;
}

.content .text h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.content .text p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.content .text button {
    padding: 15px 30px;
    font-size: 1em;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.button{
    padding: 10px 20px;
    font-size: small;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.content .image {
    flex: 1;
    text-align: right;
}

.content .image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}